@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../IMGs/fundteste2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    width: 50%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid #251714;
}
h2 {
    font-family: "Roboto", sans-serif;
    padding: 10px;
    margin: 0;
}
input[type="submit"], input[type="reset"] {
    background-color: #4068e3;
    color: #edeff2;
    padding: 10px 20px;
    border: 1px solid #251714;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #2f4ead;
}
input[type="number"] {
    width: 40%;
    padding: 10px;
    margin: 5px 5px;
    border: 1px solid #251714;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
label{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-right: 10px;
    font-weight: 500;
}
button {
    background-color: #4068e3;
    color: #edeff2;
    padding: 10px 20px;
    border: 1px solid #251714;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.volt {
    background-color: #4068e3;}
.volt:hover{
    background-color: #2f4ead;
}

button:hover {
    background-color: #2f4ead;
}

button a {
    color: #fff;
    text-decoration: none;
}