@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../IMGs/fundteste2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.container{
    width: 50%;
    margin: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid #251714;
}

h1{
    font-family: "Roboto";
    padding: 10px;
    margin: 0;
}
input[type = "submit"]{
    background-color: #4068e3;
    margin-bottom: 10px;
    color: #edeff2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #251714;
    cursor: pointer;

}
input[type = "submit"]:hover{
    background-color:#2f4ead ;
}
input[type = "reset"]{
    background-color: #c71e21;
    color: #edeff2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #251714;
    cursor:pointer;
}
input[type = "reset"]:hover{
   background-color: #9c1c1e;
}
input[type = "text"]{
    width: 40%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Poppins";
    
}
input[type = "date"]{
    width: 40%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Poppins";

}
input[type = "email"]{
    width: 40%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Poppins";

}
p{
    font-family: "Poppins";
    padding: 10px;
}
.opt{
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #251714;
    margin-left: 220px;
    margin-right: 220px;
}
.opt h4{
    font-family: "Poppins";
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #4068e3;
    border: 1px solid #251714;
}
button a{
    color: #fff;
    text-decoration: none;
}
button:hover{
    background-color:#2f4ead ;
}
.result{
    font-family: 'Poppins';
    font-size: 30px;
}