@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(../IMGs/FundLogin5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: #ffff
}

a :hover {
    text-decoration: underline;
}

.login-header {
    background-color: #2f4ead;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0);
}

.login-box {
    position: relative;
    width: 450px;
    backdrop-filter: blur(20px);
    border: 2px solid #030202;
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: #1C1C1C;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    margin-left: 15px;
}

.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(#2f4ead);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.login-header span {
    font-size: 30px;
    color: #edeff2;
    font-family: "Poppins";
    background-color: #2f4ead;

}

.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 #2f4ead;
}

.login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 #2f4ead;
}

.input-inbox {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input-field {
    width: 90%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    padding-inline: 20px 50px;
    border: 2px solid #030202;
    border-radius: 30px;
    outline: none;
    color: #edeff2;
    border-color: #030202;
}

#user {
    margin-bottom: 10px;
}

.label {
    position: absolute;
    top: 15px;
    left: 20px;
    transition: .2s;
    font-family: "Poppins";
    color: #edeff2;

}

.bx-user,
.bx-lock-alt {
    color: #edeff2;
}

.input-field:focus~.label,
.input-field:valid~.label {
    position: absolute;
    top: -20px;
    left: -20px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 5px;
}

.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}

.submit {
    width: 80%;
    height: 50px;
    background: #4068e3;
    color: #edeff2;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    border: none;
    font-family: "Roboto";
    font-size: 20px;
    margin-left: 50px;
}

.submit:hover {
    background-color: #2f4ead;
}

.left {
    position: relative;
    width: 450px;
    height: auto;
    /* Altura ajustada */
    backdrop-filter: blur(20px);
    border: 2px solid #030202;
    border-radius: 15px;
    padding: 2.5em 2.5em;
    color: #1C1C1C;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Mantém o conteúdo no topo */
    align-items: center;
}

.descr {
    margin-bottom: 15px;
    /* Ajusta o espaço entre o span e a imagem */
}

.descr span {
    font-family: "Poppins";
    font-size: 20px;
    text-align: center;
    color: #edeff2;
}

.Slogan {
    width: 80%;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /* Certifica-se de que a imagem não ultrapasse a largura da div */
}