@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    display: flex;
    margin: 0;
    align-items: center;
    height: 100vh;
    background-image: url(../../IMGs/fundteste2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 

}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclui bordas e padding no tamanho total */
}
.container{
    width: 50%;
    margin: 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    backdrop-filter: blur(10px);
    border: 1px solid #251714;
}
h2{
    font-family: "Roboto";
    padding: 10px;
    margin: 0;
}
input[type = "submit"]{
    background-color: #4068e3;
    color: #edeff2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #251714;
    cursor: pointer;

}
input[type = "submit"]:hover{
    background-color:#2f4ead ;
}
input[type = "text"]{
    width: 40%;
    padding: 10px;
    margin: 5px 5px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Poppins";

    
}
label{
    font-family: "Poppins";
    padding: 10px;
    margin-right: 10px;
}
.opt {
    position: relative; /* Definimos relative para que a z-index funcione */
    background-color: white; /* Fundo branco */
    z-index: -1; /* Coloca a div opt atrás do conteúdo da tabela */
    margin-top: -20px; /* Ajuste a margem superior para que fique "atrás" da tabela */
    padding: 20px;
    width: 20%;
    left: 15%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Efeito de sombra para destacar */
}
.opt h2{
    font-family: "Poppins";
}
.opt table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
.opt th,.opt td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #252936;
    font-family: "Roboto";
}
.opt td {
    text-align: left;
    border: 1px solid #252936;
}
.opt th {
    background-color: #4068e3;
    color: #edeff2;
    font-weight: bold;
    font-family: "Roboto";
    border: none; /* Remove a borda padrão do th */
}
.pontaEsquerda {
    border-top-left-radius: 8px;
}

.pontaDireita {
    border-top-right-radius: 8px;

}

.opt tr:hover {
    background-color: #90aaf5;
}
.color{
    background-color: #90aaf5;
}
button  input{
    font-size: 0.9rem; /* Reduzimos o tamanho do texto nos botões */
    padding: 8px 16px; /* Reduzimos o padding dos botões */
    border-radius: 5px;
    border: none;
    width: 10%;
    height: auto;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #251714;
    background-color: #4068e3;
    color: #fff;

}
.volt{
    font-size: 0.9rem; /* Reduzimos o tamanho do texto nos botões */
    padding: 4px 8px; /* Reduzimos o padding dos botões */
    border-radius: 5px;
    border: none;
    width: 10%;
    height: 5%;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #251714;
    color: #fff;
    background-color: #c71e21;
}

.volt:hover {
    background-color: #9c1c1e;
}
button a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins";

}

button:hover {
    background-color: #2f4ead;
}
.left {
    width: 40%;
    background: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.left .descr {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #252936;
    margin-bottom: 20px;
}


@media (min-width: 1024px) {
    .container {
        width: 50%; 
        margin: 1.5rem auto 5rem auto;
    }
    .opt {
        width: 57%; 
        left: 20%; 
    }
    .left {
        width: 40%; /* Reduzida de 35% para 30% */
        height: auto; /* Ajusta a altura com base no conteúdo */
        margin-left: 12.60rem; /* Ajustada para centralizar melhor */
        padding: 10px; /* Reduz o espaço interno */
        top: 60%;
    }
    .left td{
        padding: 5px;
    }
    h2 {
        font-size: 1.8rem;
    }
    input[type="text"] {
        width: 60%; 
    }
    input[type="submit"],
    .volt {
        padding: 12px 24px; /* Torna os botões maiores */
        font-size: 1rem; /* Aumenta o tamanho da fonte nos botões */
    }
    input[type="submit"]{
        padding: 15px;
    }
    .volt{
        width: 15%;
        height: auto;
    }
    table {
        width: 100%; /* Expande as tabelas para ocupar toda a largura */
    }
    th, td {
        font-size: 1rem; /* Ajusta tamanhos de texto na tabela */
        padding: 16px; /* Adiciona mais espaçamento */
    }
   
}
