@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../IMGs/fundteste2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.left {
    float: left;
    width: 25%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 60px;
}
.left .descr {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #252936;
    margin-bottom: 20px;
}

.container {
    width: 40%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}
.container table {
    width: 25%; /* Reduzimos a largura da tabela */
    margin: 0 auto; /* Centralizamos a tabela */
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #252936;
    font-family: "Roboto";
}

td {
    text-align: left;
    border: 1px solid #252936;
}

th {
    background-color: #4068e3;
    color: #edeff2;
    font-weight: bold;
    font-family: "Roboto";
    border: none;
    /* Remove a borda padrão do th */
}

.pontaEsquerda {
    border-top-left-radius: 8px;
}

.pontaDireita {
    border-top-right-radius: 8px;

}

tr:hover {
    background-color: #90aaf5;
}

h1 {
    font-size: 2em;
    font-family: "Roboto";
    color: #252936;
}

.color {
    background-color: #90aaf5;
}

button {
    font-size: 0.9rem;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #251714;
    background-color: #4068e3;
    color: #fff;

}

button a {
    color: #fff;
    text-decoration: none;
    font-family: "Poppins";

}

button:hover {
    background-color: #2f4ead;
}

.exc {
    background-color: #c71e21;
}

.exc:hover {
    background-color: #9c1c1e;
}